mule/mulescattergather/src/main/mule/mulescattergather.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2c22e966-4912-43c2-a85a-898c839e98a1" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="mulescattergatherFlow" doc:id="e39c8806-cae7-442c-ae89-115e74826fc4" >
		<http:listener doc:name="Listener" doc:id="92721bdb-802b-4695-b32a-8b07410f39e5" config-ref="HTTP_Listener_config" path="/scatter_gather"/>
		<set-payload value="Hello Scatter Gather Example" doc:name="Set Payload" doc:id="2dbec4c4-055c-4104-a40f-3fb6ffeceb1d" />
		<logger level="INFO" doc:name="Logger" doc:id="86930b31-c049-470c-be39-d71a899ca563" message="#[payload]"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="8417e7f0-b0f6-461d-b8cd-5904f10a3e1e" >
			<route >
				<set-payload value="payload in flow top" doc:name="Set Payload" doc:id="fa447be3-0765-4486-9de1-5a21e33733c4" />
				<logger level="INFO" doc:name="Logger" doc:id="3cd999a4-424f-473c-9915-897cfd6d79e4" message="#[payload]"/>
			</route>
			<route >
				<set-payload value="payload in flow below" doc:name="Set Payload" doc:id="73e2139e-833b-415e-ba8b-db2c8a66cfd2" />
				<logger level="INFO" doc:name="Logger" doc:id="62deb3e4-5acd-4370-9a2e-9c9764b63ea6" message="#[payload]"/>
			</route>
		</scatter-gather>
		<set-payload value="#[payload[0].payload ++' And '++ payload[1].payload]" doc:name="Set Payload" doc:id="ebaa4c7b-2b13-4afe-8609-3b005d626fff" />
		<logger level="INFO" doc:name="Logger" doc:id="4ab2f0c4-fa3d-4197-a4dd-f34611fdd07e" message="#[payload]"/>
	</flow>
</mule>
